<?php
return array(
    
    'server_info' => array(
        'session_cookie_name' => 'oicserver'
    ),
    
    'client_info' => array(
        'client_id' => 'testclientid',
        'redirect_uri' => 'https://virtual',
        
        'authorization_endpoint' => 'https://oic.example.org/authorize',
        'token_endpoint' => 'https://oic.example.org/token',
        'user_info_endpoint' => 'https://oic.example.org/userinfo',
        
        'authentication_info' => array(
            'method' => 'client_secret_basic',
            'params' => array(
                'client_secret' => '8d16667945b25c29949b0541f4d0420c'
            )
        )
    ),
    
    'user_info' => array(
        'username' => 'testuser',
        'password' => 'testpasswd'
    )
);